* {
  padding: 0px;
  margin: 0px;

}
a {
  text-decoration: none;
  cursor: pointer;
  color: #6c757d;
  display: block;
}

ul {
  position: relative;
  /* left: 15px; */
  margin: 15px;
}

ol {
  padding-left: 15px;
  padding-bottom: 15px;
  padding: 5px 0px 15px 15px;
}

img {
  width: 100%
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #DCDCDC;
  height: 100vh

}

.container-left {
  width: 60%;
  float: left;
}

.contaier-fluid {
  font-size: 40px;
  padding: 10px 50px;
  color: #6b6be0;
}

.contaier-fluid__heading {
  font-weight: bold;
}

.heading {
  text-align: center;
  background: #6b6be0;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;

}

.temp {
  background: cadetblue;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}

.upload {
  border-radius: 15px;
  width: 250px;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 60px;
  background-color: #fff;
  color: cadetblue;
  border: 1px solid cadetblue;
}

.upload p {
  color: cadetblue
}

.author {
  position: absolute;
  border: 1px solid;
  padding: 20px 80px;
  top: 20px;
  color: yellow;
  background: yellow;
  right: 10%;
}

.sign, .interest, .close {
  border: 1px solid;
  padding: 4px 30px;
  color: #fff;
  background: #6b6be0;
}

.register {
  padding: 5px 40px;
}

.register p {
  padding: 5px 0px;
}

.interest p, .close p {
  text-align: center;
}

.box1, .box2 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
  justify-content: space-around;
}

.benefit {
  padding: 20px;
  background: yellow;
}

.benefit-option {
  border: 1px solid;
  padding: 15px 30px;
  background: blue;
  color: #fff;
  margin-bottom: 20px;
}

.container-right {
  float: right;
  width: 37%;
  margin-top: 15px;
}

.alphabe-heading {
  color: red;
  font-weight: bold
}

.alphabe {
  border-bottom: 1px solid #6b6be0;
  padding: 10px 0px;
  margin-right: 75px;

}
.alphabe-title {
  color: grey;
}