* {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #6c757d;
  
}

ul {
  position: relative;
  /* left: 15px; */
  margin: 15px;
}

li {
  font-weight: bold;
}

img {
  width: 100%
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #DCDCDC;
  height: 100vh

}

.brand {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}

.brand-left {
  margin: 10px 0px;
  font-weight: bold;
  border: 1px solid;
  padding: 4px 10px;
  position: relative;
  left: 30px;
}

.brand-right {
  display: flex;
  justify-content: space-around;
}

.brand-right__link {
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  flex-direction: column;
}

.heading {
  text-align: center;
}

.heading-title {
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0px;
}

.heading-body {
  color: grey;
}

.heading-body p:first-child {
  padding-bottom: 5px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.card-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card-body {
  padding: 5px 15px;
}

.card-body-title {
  font-weight: bold;
  padding-top: 8px;
  font-size: 24px;
}

.card-body-time {
  color: #ffff02;
}

.card-body-content {
  color: grey;
  font-size: 14px;
  padding: 10px 0px;
}

.btn-submit {
  text-align: center;
}

.button-submit {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px 0px;
}

.btn {
  padding: 8px 15px;
  border-radius: 15px;
  background: #bfaa03;
  color: #fff;
  border: none;
}

.footer {
  display: flex;
  flex-wrap: wrap; 
  background-color: blueviolet;
  height: 40px;
}

.footer-child {
  flex-grow: 1;
  width: 20%;
  padding: 15px 30px;
}